<div class="container">
  <form >
    <h4>Contact us today, and get reply with in 24 hours!</h4>
    <fieldset>
      <input placeholder="Common name" type="text" tabindex="1" [(ngModel)]="formData.commonName" name="commonName" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Organization unit" type="email" name="organizationUnit" [(ngModel)]="formData.organizationUnit" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Organization name" type="tel" name="organizationName" [(ngModel)]="formData.organizationName" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Locality name" type="url" name="localityName" [(ngModel)]="formData.localityName" tabindex="4" required>
    </fieldset>
    <fieldset>
      <input placeholder="State name" type="tel" name="stateName" [(ngModel)]="formData.stateName" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Country name" type="url" name="countryName" [(ngModel)]="formData.countryName" tabindex="4" required>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" (click)="AddRequest()" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>


</div>
