<div class="container-lg" id="main" >
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-8"><h2>Employee <b>Details</b></h2></div>
          <div class="col-sm-4">
            <button type="button" id="dodaj" class="btn btn-info add-new" (click)="showForm()" ><i class="fa fa-plus"></i> Add New</button>

          </div>
        </div>
      </div>
      <table *ngFor="let rad of radnici" class="table table-bordered">
        <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Last name</th>
          <th>Job</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr >
          <td>{{rad.id}}</td>
          <td>{{rad?.ime}}</td>
          <td>{{rad?.prezime}}</td>
          <td>{{rad?.posao}}</td>
          <td>

            <a class="edit" data-toggle="modal" data-target="#popup2" (click)="showForm2(rad)" ><i class="material-icons">&#xE254;</i></a>
            <button (click)="onDeleteEmloyee(rad?.id)"><a class="delete"  id="obrisi"  title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a></button>
          </td>
        </tr>

        </tbody>

      </table>
    </div>
  </div>
</div>



<div class="popup" id="popup">
  <img src="../assets/404-tick.png">
  <h2>Add new user</h2>
  <form #addForm="ngForm" id="formElement" (ngSubmit)="onAddEmloyee(addForm)">
    <div class="form-group">
      <label >Name</label>
      <input type="text" ngModel name="ime" width="200px" class="form-control" id="ime" placeholder="Name" required>
    </div>
    <div class="form-group">
      <label  >Last name</label>
      <input type="email" ngModel name="prezime" class="form-control" id="prezime" placeholder="Last name" required>
    </div>
    <div class="form-group">
      <label >Job title</label>
      <input type="text" ngModel name="posao" class="form-control" id="posao" placeholder="Job title" required>
    </div>


    <button type="button" id="add-employee-form" class="btn btn-secondary"  (click)="closeForm()" data-dismiss="modal">Close</button>
    <button [disabled]="addForm.invalid" id="add" type="submit" class="btn btn-primary" >Dodaj</button>

  </form>
</div>
